<!doctype html>
<html ng-app="dggApp">

<head>
  <title>Draw Guessing Game</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="dgg.js"></script>
  <style>
    .dggcontainer>div {
      margin: 5px;
      display: inline-block;
      vertical-align: top
    }
    
    #drawArea,
    #chatArea {
      height: 500px
    }
    
    canvas {
      border: 1px solid gray
    }
    
    .colorButtons a {
      width: 10px;
      height: 10px;
      display: inline-block;
      border: 1px solid black;
      margin: 2px
    }
    
    .lineButtons a {
      width: 30px;
      height: 10px;
      display: inline-block;
      border: 1px solid black;
      margin: 2px
    }
    
    .lineButtons a span {
      width: 30px;
      display: block;
      background: #000;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      border: 0
    }
    
    .colorButtons,
    .lineButtons {
      vertical-align: middle
    }
    
    #chatBox {
      height: 400px;
      vertical-align: bottom;
      overflow-y: scroll;
    }
  </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
      <a href="./" class="navbar-brand">Draw guessing game</a>
    </div>
  </div>
  <div class="container" ng-controller="dggController as dgg">

    <div class="row">
      <div class="col-md-7" id="drawArea" ng-disabled="!dgg.myTurn">
        <div class="colorButtons">
          Color:
          <a ng-repeat="color in dgg.colors" ng-click="dgg.changeColor(color)" style="background:#{{color}}" ng-disabled="!dgg.myTurn" title="{{color}}" href="#self"></a>
        </div>
        <div class="lineButtons">
          Line width:
          <a ng-repeat="size in [1,5,10]" ng-click="dgg.changeLineWidth(size)" ng-disabled="!dgg.myTurn" href="#self"><span style="height:{{size}}px"></span></a>
          <button style="float:right" ng-disabled="!dgg.myTurn" ng-click="dgg.clearCanvas()">Clear</button>
        </div>
        <div>
          <span ng-show="dgg.myTurn">It's your turn to draw!
          <big>WORD: [<strong>{{dgg.word}}</strong>]</big></span>
          <span ng-show="!dgg.myTurn && dgg.playerDrawing">{{dgg.playerDrawing}} it's drawing, try to guess! </span>
          <span style="float:right">Time left: {{dgg.timer}}</span>
        </div>
        <canvas id="canvas" width="500" height="400"></canvas>
      </div>
      <div class="col-md-5" id="chatArea">
        <div id="chatBox">
          <div class="message {{dgg.messageClasses[type]}}" ng-repeat="message in dgg.messages" scroll-to-bottom>
            <span class="sender">{{message.from || 'Server'}}</span>:
            <span class="text">{{message.text}}</span>
          </div>
        </div>
        <div id="chatControls">
          <div ng-hide="dgg.active">Choose your name to play:</div>
          <div>
            <form ng-submit="dgg.sendMessage()">
              <input class="col-md-10" type="text" ng-model="dgg.message" maxlength="100" ng-disabled="!dgg.connected" />
              <input class="col-md-2" type="submit" value="Send" ng-disabled="!dgg.connected" />
            </form>
            <br style="clear:both" />
          </div>
          <div>
            Connected: {{dgg.connected}}
            <br /> Active: {{dgg.active}}
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>